.menu-btn {
    position: fixed;
    z-index: 3;
    right: 35px;
    top: 35px;
    cursor: grabbing;
    transition: all 0.5s ease-out;
}

.menu-btn .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: greenyellow;
    transition: all 0.5s ease-out;
}

.menu-btn.close {
    transform: rotate(180deg);
}

.menu-btn.close .btn-line:nth-child(1) {
    transform: rotate(45deg) translate(6px, 5px);
}

.menu-btn.close .btn-line:nth-child(2) {
    opacity: 0;
}

.menu-btn.close .btn-line:nth-child(3) {
    transform: rotate(-45deg) translate(6.2px, -4.1px);
}

.menu {
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 0.95;
    visibility: hidden;
}

.menu.show {
    visibility: visible;
}

.menu-branding,
.menu-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 50%;
    float: left;
    overflow: hidden;
}

.menu-nav {
    margin: 0;
    padding: 0;
    background: wheat;
    list-style: none;
    transform: translate3d(0, -100%, 0);
    transition: all 0.5s ease-out;
}

.menu-nav.show {
    transform: translate3d(0, 0, 0);
}

.menu-branding {
    background: whitesmoke;
    transform: translate3d(0, 100%, 0);
    transition: all 0.5s ease-out;
}

.menu-branding.show {
    transform: translate3d(0, 0, 0);
}

.menu-branding .portrait {
    height: 250px;
    width: 250px;
    background: url("img/ind.jpg");
    background-position: center;
    border-radius: 50%;
    border: solid 3px pink;
    transform: translate3d(0, 600px, 0);
    transition: all 0.5s ease-out;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transform: translate3d(0, 600px, 0);
    -moz-transform: translate3d(0, 600px, 0);
    -ms-transform: translate3d(0, 600px, 0);
    -o-transform: translate3d(0, 600px, 0);
}

.menu-branding .portrait.show {
    transform: translate3d(0, 0, 0);
}

.menu .nav-item {
    transform: translate3d(600px, 0, 0);
    transition: all 0.5s ease-out;
}

.menu .nav-item.show {
    transform: translate3d(0, 0, 0);
}

.menu .nav-item.current>a {
    color: blue;
}

.menu .nav-link {
    display: inline-block;
    position: relative;
    font-size: 1.5rem;
    font-weight: normal;
    padding: 1rem 0;
    color: #000;
    text-decoration: none;
    transition: all 0.5s ease-out;
}

.menu .nav-link:hover {
    color: burlywood;
}

.nav-item:nth-child(1) {
    transition-delay: 0.1s;
}

.nav-item:nth-child(2) {
    transition-delay: 0.2s;
}

.nav-item:nth-child(3) {
    transition-delay: 0.3s;
}

.nav-item:nth-child(4) {
    transition-delay: 0.4s;
}

* {
    box-sizing: border-box;
}

html {
    overflow: auto;
    height: 100%;
}

body {
    background: #515151;
    color: pink;
    height: 100%;
    margin: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
    overflow: auto;
}

body#bg-img {
    background: url("img/banner.jpg");
    background-attachment: fixed;
    background-size: cover;
}

body#bg-img:after {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: rgba(51, 51, 51, 0.8);
}

h1,
h2 {
    margin: 0;
    font-weight: bolder;
}

h1.lg-heading,
h2.lg-heading {
    font-size: 6rem;
}

a {
    color: #fff;
    text-decoration: none;
}

header {
    position: fixed;
    z-index: 2;
    width: 100%;
}

.text-secondary {
    color: blue;
    font-weight: bold;
    font-style: italic;
}

main {
    padding: 3rem;
    padding-bottom: 1rem;
    min-height: calc(100vh - 30px);
}

main .icons {
    margin-top: 1rem;
}

main .icons a {
    padding: 0.8rem;
    color: #fff;
}

main .icons a:hover {
    color: orangered;
    transition: all 0.5s ease-out;
}

main#home {
    overflow: auto;
}

main#home h1 {
    margin-top: 20vh;
}

#about h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

#about h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

#about h3 {
    text-align: center;
    font-weight: bold;
}

#about p {
    font-weight: normal;
}

#about li {
    font-weight: normal;
}

#about .bio-heading {
    text-align: left;
    margin-left: 2rem;
}

#about .container1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    margin-left: 2rem;
}

#about .container1 .bio-image {
    height: 250px;
    width: 250px;
    background: url("img/ind.jpg");
    background-position: center;
    border-radius: 50%;
    border: solid 3px pink;
    opacity: 1;
    margin-left: 6.4rem;
}

#about .container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 0;
}

#about .container2 .container2box {
    flex-basis: 30%;
}

#about .job {
    background: #515151;
    padding: 0 1rem;
    border-bottom: #eece1a 5px solid;
}

#about h3 {
    color: #eece1a;
    font-weight: bold;
}

#about .box1 {
    flex-basis: 35%;
}

#about .box2 {
    flex-basis: 65%;
}

#about #list {
    list-style-type: none;
    padding: 0 1rem;
    padding-bottom: 0;
}

#options h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

#options h2 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    font-weight: bold;
}

#options a {
    font-weight: normal;
}

.projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
}

.projects img {
    width: 100%;
    border: 3px solid #fff;
    height: 40vh;
    /* width: 350px; */
}

.projects img:hover {
    opacity: 0.5;
    border-color: #eece1a;
    transition: all 0.5s ease-out;
}

#contact h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

#contact h2 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    font-weight: bold;
}

#contact span {
    font-weight: normal;
}

#contact i {
    color: #dd4a40;
}

.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;
    font-weight: normal;
}

.boxes div {
    font-size: 1.2rem;
    border: 3px solid #fff;
    padding: 1.5rem 2.5rem;
    margin-bottom: 2rem;
    transition: all 0.5s ease-out;
}

.boxes div:hover {
    padding: 0.5rem 1.5rem;
    background: #eece1a;
    color: #000;
}

.boxes div:hover span {
    color: #000;
}

.boxes div:hover #map {
    color: #000;
}

.boxes .permanent-address {
    flex-basis: 100%;
    margin-bottom: 1rem;
}

.btn,
.btn-dark,
.btn-light {
    display: block;
    padding: 0.5rem 1rem;
    border: 0;
    margin-bottom: 0.3rem;
    text-align: center;
}

.btn:hover,
.btn-dark:hover,
.btn-light:hover {
    background-color: #eece1a;
    color: #000;
}

.btn-dark {
    background: black;
    color: #fff;
}

.btn-light {
    background: #c4c4c4;
    color: #333;
}

#main-footer {
    text-align: center;
    height: 30px;
    font-weight: normal;
    color: #fff;
}

@media screen and (min-width: 1280px) {
    .navbar {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 3rem;
        margin: 0;
        overflow: hidden;
        background: rgba(51, 51, 51, 0.8);
    }
    .navbar .logo-container {
        top: 0;
        left: 0;
        height: 3rem;
        width: 3rem;
        -webkit-tap-highlight-color: transparent;
        z-index: 4;
        overflow: hidden;
        position: absolute;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
    }
    .navbar .logo-container .logo {
        position: absolute;
        top: 6px;
        left: 16.805px;
        font-size: 1.5rem;
        font-weight: normal;
    }
    .navbar .menu-btn {
        top: 0;
        right: 0;
        height: 3rem;
        width: 3rem;
        -webkit-tap-highlight-color: transparent;
        z-index: 4;
        overflow: hidden;
        position: absolute;
    }
    .navbar .menu-btn .line1 {
        position: absolute;
        top: 17.5px;
    }
    .navbar .menu-btn .line2 {
        margin: 0 auto;
        top: 22.5px;
        position: absolute;
    }
    .navbar .menu-btn .line3 {
        position: absolute;
        top: 27.5px;
    }
    .navbar .menu-btn.close {
        transform: rotate(180deg);
    }
    .navbar .menu-btn.close .btn-line:nth-child(1) {
        transform: rotate(45deg) translate(4px, 3px);
    }
    .navbar .menu-btn.close .btn-line:nth-child(2) {
        opacity: 0;
    }
    .navbar .menu-btn.close .btn-line:nth-child(3) {
        transform: rotate(-50deg) translate(4px, -2.5px);
    }
    .navbar .menu-btn .btn-line {
        width: 17px;
        height: 1px;
        left: 15.5px;
        margin: 0;
    }
    h1 {
        padding-top: 2rem;
    }
    #home h1 {
        line-height: 1.2;
    }
    #about h1 {
        margin-bottom: 0;
        line-height: 1;
        padding-bottom: 1rem;
    }
    #about .container1 {
        margin-bottom: 1rem;
    }
    #about .container1 .box1 {
        flex: 1;
    }
    #about .container1 .box1 .bio-image {
        margin: 0;
    }
    #about .container1 .box2 {
        flex: 6;
    }
    #options h1 {
        margin-bottom: 0;
        line-height: 1;
        padding-bottom: 1rem;
    }
    #options .projects {
        grid-template-columns: repeat(4, 1fr);
    }
    #contact h1 {
        margin-bottom: 0;
        line-height: 1;
        padding-bottom: 1rem;
    }
    #contact .bold-text {
        font-weight: bold;
    }
    #main-footer {
        color: #888;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .navbar {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 3rem;
        margin: 0;
        overflow: hidden;
        background: rgba(51, 51, 51, 0.8);
    }
    .navbar .logo-container {
        top: 0;
        left: 0;
        height: 3rem;
        width: 3rem;
        -webkit-tap-highlight-color: transparent;
        z-index: 4;
        overflow: hidden;
        position: absolute;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
    }
    .navbar .logo-container .logo {
        position: absolute;
        top: 6px;
        left: 16.805px;
        font-size: 1.5rem;
        font-weight: normal;
    }
    .navbar .menu-btn {
        top: 0;
        right: 0;
        height: 3rem;
        width: 3rem;
        -webkit-tap-highlight-color: transparent;
        z-index: 4;
        overflow: hidden;
        position: absolute;
    }
    .navbar .menu-btn .line1 {
        position: absolute;
        top: 17.5px;
    }
    .navbar .menu-btn .line2 {
        margin: 0 auto;
        top: 22.5px;
        position: absolute;
    }
    .navbar .menu-btn .line3 {
        position: absolute;
        top: 27.5px;
    }
    .navbar .menu-btn.close {
        transform: rotate(180deg);
    }
    .navbar .menu-btn.close .btn-line:nth-child(1) {
        transform: rotate(45deg) translate(4px, 3px);
    }
    .navbar .menu-btn.close .btn-line:nth-child(2) {
        opacity: 0;
    }
    .navbar .menu-btn.close .btn-line:nth-child(3) {
        transform: rotate(-50deg) translate(4px, -2.5px);
    }
    .navbar .menu-btn .btn-line {
        width: 17px;
        height: 1px;
        left: 15.5px;
        margin: 0;
    }
    .menu .menu-nav .nav-item .nav-link {
        font-weight: normal;
    }
    .menu .menu-nav .nav-item .nav-link:hover {
        color: #fff;
    }
    .menu .menu-nav .nav-item.current>a:hover {
        color: #eece1a;
    }
    h1 {
        padding-top: 2rem;
    }
    #home h1 {
        line-height: 1.2;
    }
    #home .noHover:hover {
        color: #fff;
    }
    #about h1 {
        margin-bottom: 0;
        line-height: 1;
        padding-bottom: 1rem;
    }
    #about .container1 .box1 {
        flex: 1;
    }
    #about .container1 .box1 .bio-image {
        margin: 0;
    }
    #about .container1 .box2 {
        flex: 4;
    }
    #options h1 {
        margin-bottom: 0;
        line-height: 1;
        padding-bottom: 1rem;
    }
    #options .projects {
        grid-template-columns: repeat(3, 1fr);
    }
    #options .projects .item a {
        font-weight: normal;
    }
    #options .projects .item a img:hover {
        opacity: 1;
        border-color: #fff;
    }
    #options .projects .item .btn-light:hover {
        background: #c4c4c4;
        color: #333;
    }
    #options .projects .item .btn-dark:hover {
        background: black;
        color: #fff;
    }
    #contact h1 {
        margin-bottom: 0;
        line-height: 1;
        padding-bottom: 1rem;
    }
    #contact .boxes div {
        padding: 1rem 2rem;
        flex-basis: 100%;
    }
    #contact .boxes div:hover {
        padding: 1rem 2rem;
        background: none;
        color: #fff;
    }
    #contact .boxes div:hover span {
        color: #eece1a;
    }
    #contact .boxes div:hover #map {
        color: #dd4a40;
    }
    #contact .bold-text {
        font-weight: bold;
    }
    #main-footer {
        color: #888;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .navbar {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 3rem;
        margin: 0;
        overflow: hidden;
        background: rgba(51, 51, 51, 0.8);
    }
    .navbar .logo-container {
        top: 0;
        left: 0;
        height: 3rem;
        width: 3rem;
        -webkit-tap-highlight-color: transparent;
        z-index: 4;
        overflow: hidden;
        position: absolute;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
    }
    .navbar .logo-container .logo {
        position: absolute;
        top: 6px;
        left: 16.805px;
        font-size: 1.5rem;
        font-weight: normal;
    }
    .navbar .menu-btn {
        top: 0;
        right: 0;
        height: 3rem;
        width: 3rem;
        -webkit-tap-highlight-color: transparent;
        z-index: 4;
        overflow: hidden;
        position: absolute;
    }
    .navbar .menu-btn .line1 {
        position: absolute;
        top: 17.5px;
    }
    .navbar .menu-btn .line2 {
        margin: 0 auto;
        top: 22.5px;
        position: absolute;
    }
    .navbar .menu-btn .line3 {
        position: absolute;
        top: 27.5px;
    }
    .navbar .menu-btn.close {
        transform: rotate(180deg);
    }
    .navbar .menu-btn.close .btn-line:nth-child(1) {
        transform: rotate(45deg) translate(4px, 3px);
    }
    .navbar .menu-btn.close .btn-line:nth-child(2) {
        opacity: 0;
    }
    .navbar .menu-btn.close .btn-line:nth-child(3) {
        transform: rotate(-50deg) translate(4px, -2.5px);
    }
    .navbar .menu-btn .btn-line {
        width: 17px;
        height: 1px;
        left: 15.5px;
        margin: 0;
    }
    .menu .menu-nav .nav-item .nav-link {
        font-weight: normal;
    }
    .menu .menu-nav .nav-item .nav-link:hover {
        color: #fff;
    }
    .menu .menu-nav .nav-item.current>a:hover {
        color: #eece1a;
    }
    h1 {
        padding-top: 1rem;
    }
    #home {
        text-align: center;
        line-height: 1.5;
    }
    #home h1 {
        font-weight: bold;
        line-height: 1;
        font-size: 5rem;
        margin-bottom: 1rem;
    }
    #home span {
        font-weight: bold;
    }
    #home .mdheading {
        margin-top: 30vh;
    }
    #home h2 {
        font-size: 1.5rem;
        font-weight: bold;
        line-height: 1;
    }
    #home .noHover:hover {
        color: #fff;
    }
    #about h1 {
        text-align: center;
        font-weight: bold;
    }
    #about span {
        font-weight: bold;
    }
    #about h2 {
        text-align: center;
        font-weight: bold;
    }
    #about .container1 {
        margin-bottom: 2rem;
    }
    #about .container1 .box1 {
        flex: 1;
        align-items: center;
        justify-content: center;
    }
    #about .container1 .box1 .bio-image {
        margin: 0;
        align-items: center;
        justify-content: center;
    }
    #about .container1 .box1 .tab-image {
        margin-right: 0;
    }
    #about .container1 .box2 {
        flex: 3;
    }
    #about .container1 .box2 .bio-heading {
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-weight: bold;
    }
    #about .container1 .box2 .bio-paragraph {
        font-weight: normal;
        margin-left: 8rem;
    }
    #about .container2 .container2box {
        flex-basis: 100%;
        padding: 0;
        margin-bottom: 2.5rem;
    }
    #about .container2 .container2box h3 {
        margin: 1rem 0;
        font-weight: bold;
    }
    #about .container2 .container2box #list {
        margin-top: 0;
        margin-bottom: 1rem;
    }
    #about .container2 .container2box #list li {
        font-weight: normal;
    }
    #options {
        font-weight: bold;
    }
    #options h1 {
        font-weight: bold;
        text-align: center;
        line-height: 1.2;
    }
    #options h2 {
        font-weight: bold;
        text-align: center;
        line-height: 1.2;
        margin-bottom: 2rem;
    }
    #options .projects {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 3rem;
    }
    #options .projects .item a {
        font-weight: normal;
    }
    #options .projects .item a img:hover {
        opacity: 1;
        border-color: #fff;
    }
    #options .projects .item .btn-light:hover {
        background: #c4c4c4;
        color: #333;
    }
    #options .projects .item .btn-dark:hover {
        background: black;
        color: #fff;
    }
    #contact h1 {
        font-weight: bold;
        line-height: 1.2;
        text-align: center;
    }
    #contact .bold-text {
        font-weight: bold;
    }
    #contact span {
        font-weight: bold;
    }
    #contact h2 {
        font-weight: bold;
        line-height: 1.2;
        text-align: center;
        margin-bottom: 2rem;
    }
    #contact .boxes {
        font-weight: normal;
        justify-content: center;
        align-items: center;
        margin-top: 0;
    }
    #contact .boxes div {
        font-weight: normal;
        flex-basis: 100%;
        text-align: left;
        margin-bottom: 2rem;
        padding: 1rem 2rem;
    }
    #contact .boxes div span {
        font-weight: bold;
    }
    #contact .boxes div:hover {
        padding: 1rem 2rem;
        margin-bottom: 2rem;
        background: none;
        color: #fff;
    }
    #contact .boxes div:hover span {
        color: #eece1a;
    }
    #contact .boxes div:hover #map {
        color: #dd4a40;
    }
    #main-footer {
        color: #888;
        font-weight: normal;
    }
}

@media screen and (min-width: 481px) and (max-width: 767px) {
    .navbar {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 3rem;
        margin: 0;
        overflow: hidden;
        background: rgba(51, 51, 51, 0.8);
    }
    .logo-container {
        top: 0;
        left: 0;
        height: 3rem;
        width: 3rem;
        -webkit-tap-highlight-color: transparent;
        z-index: 4;
        overflow: hidden;
        position: absolute;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
    }
    .logo-container .logo {
        position: absolute;
        top: 6px;
        left: 16.805px;
        font-size: 1.5rem;
        font-weight: normal;
    }
    .menu-btn {
        top: 0;
        right: 0;
        height: 3rem;
        width: 3rem;
        -webkit-tap-highlight-color: transparent;
        z-index: 4;
        overflow: hidden;
        position: absolute;
    }
    .menu-btn .line1 {
        position: absolute;
        top: 17.5px;
    }
    .menu-btn .line2 {
        margin: 0 auto;
        top: 22.5px;
        position: absolute;
    }
    .menu-btn .line3 {
        position: absolute;
        top: 27.5px;
    }
    .menu-btn.close {
        transform: rotate(180deg);
    }
    .menu-btn.close .btn-line:nth-child(1) {
        transform: rotate(45deg) translate(4px, 3px);
    }
    .menu-btn.close .btn-line:nth-child(2) {
        opacity: 0;
    }
    .menu-btn.close .btn-line:nth-child(3) {
        transform: rotate(-50deg) translate(4px, -2.5px);
    }
    .menu-btn .btn-line {
        width: 17px;
        height: 1px;
        left: 15.5px;
        margin: 0;
    }
    main {
        align-items: center;
        text-align: center;
        padding: 1.5rem;
        padding-bottom: 0;
    }
    #main-footer {
        color: #888;
        height: 25px;
        margin-bottom: 0.5rem;
    }
    h1 {
        padding-top: 2.5rem;
        line-height: 1.2;
    }
    h2 {
        line-height: 1.2;
    }
    .item1 {
        margin-top: 11vh;
    }
    body header .menu .menu-branding {
        justify-content: flex-start;
        transform: translate3d(0, 100%, 0);
    }
    body header .menu .menu-branding.show {
        transform: translate3d(0, 0, 0);
    }
    body header .menu .menu-branding .portrait {
        margin-top: 19vh;
        top: 10px;
        height: 250px;
        width: 250px;
        background: url("img/ind.jpg");
        background-position: center;
        transform: translate3d(0, 100%, 0);
    }
    body header .menu .menu-branding .portrait.show {
        transform: translate3d(0, 0, 0);
    }
    body header .menu .menu-nav {
        justify-content: flex-start;
        transform: translate3d(0, -100%, 0);
    }
    body header .menu .menu-nav.show {
        transform: translate3d(0, 0, 0);
    }
    body header .menu .menu-nav .nav-item {
        transform: translate3d(600px, 0, 0);
    }
    body header .menu .menu-nav .nav-item.show {
        transform: translate3d(0, 0, 0);
    }
    body header .menu .menu-nav .nav-item .nav-link {
        font-weight: bold;
        padding: 0.5rem;
        font-size: 1.5rem;
    }
    body header .menu .menu-nav .nav-item .nav-link:hover {
        color: #fff;
    }
    body header .menu .menu-nav .nav-item.current>a:hover {
        color: #eece1a;
    }
    #home .smlheading {
        margin-top: 1rem;
        line-height: 1.2;
    }
    #home h1 {
        font-size: 2.5rem;
        font-weight: bold;
        line-height: 1;
        padding-bottom: 1rem;
    }
    #home h2 {
        font-size: 1.2rem;
        font-weight: bold;
        line-height: 1.2;
    }
    #home a {
        font-size: 1rem;
        padding: 0.2rem;
    }
    #home a:hover {
        color: #fff;
    }
    .about-body {
        line-height: 1.5;
    }
    .about-body #main-footer {
        font-weight: 400;
    }
    #about h1 {
        font-weight: bold;
        font-size: 2.5rem;
        margin-bottom: 0;
    }
    #about h2 {
        font-weight: bold;
        font-size: 1.5rem;
        padding: 0 1rem;
        line-height: 1.2;
    }
    #about .container1 {
        margin-bottom: 0rem;
    }
    #about .container1 .box1 {
        flex-basis: 100%;
        justify-content: center;
    }
    #about .container1 .box1 .bio-image {
        margin: auto;
        background: url("img/ind.jpg");
        background-position: center;
    }
    #about .container1 .box2 {
        flex-basis: 100%;
        padding: 1rem;
        padding-top: 0;
        padding-bottom: 0;
    }
    #about .container1 .box2 .bio-heading {
        text-align: center;
        font-weight: bold;
        font-size: 1.25rem;
        margin-bottom: 0;
        margin-top: 1rem;
    }
    #about .container1 .box2 .bio-paragraph {
        text-align: center;
        font-weight: 400;
        font-size: 1rem;
        padding: 1rem;
        margin-bottom: 1rem;
        margin-top: 1rem;
        margin-left: 6rem;
    }
    #about .container2 {
        justify-content: center;
        align-items: center;
    }
    #about .container2 .container2box {
        flex-basis: 100%;
    }
    #about .container2 .job {
        border-bottom: none;
        background: none;
    }
    #about .container2 .job h3 {
        text-align: center;
        font-weight: bold;
        font-size: 1.25rem;
        margin-bottom: 0;
        margin-top: 0;
    }
    #about .container2 .job li {
        font-weight: 400;
        font-size: 1rem;
        text-align: center;
    }
    #about .container2 #list {
        padding: 0;
    }
    .options-body {
        line-height: 1.5;
    }
    .options-body #options h1 {
        font-weight: bold;
        font-size: 2.5rem;
        margin-bottom: 0;
    }
    .options-body #options h2 {
        font-weight: bold;
        font-size: 1.5rem;
        margin-bottom: 1rem;
        line-height: 1.2;
    }
    .options-body #options .projects {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
        padding-bottom: 1rem;
    }
    .options-body #options .projects .item a {
        font-weight: normal;
    }
    .options-body #options .projects .item a img:hover {
        opacity: 1;
        border-color: #fff;
    }
    .options-body #options .projects .item .btn-dark {
        margin-bottom: 0;
    }
    .options-body #options .projects .item .btn-light:hover {
        background: #c4c4c4;
        color: #333;
    }
    .options-body #options .projects .item .btn-dark:hover {
        background: black;
        color: #fff;
    }
    .options-body #main-footer {
        font-weight: normal;
    }
    .contact-body {
        line-height: 1.5;
    }
    .contact-body #contact h1 {
        font-weight: bold;
        font-size: 2.5rem;
        margin-bottom: 0;
    }
    .contact-body #contact h1 span {
        font-weight: bold;
    }
    .contact-body #contact h2 {
        font-size: 1.5rem;
        font-weight: bold;
        line-height: 1.2;
        margin-bottom: 1rem;
    }
    .contact-body #contact .boxes {
        justify-content: center;
        align-items: center;
        margin-top: 0;
    }
    .contact-body #contact .boxes div {
        flex-basis: 100%;
        font-weight: normal;
        margin-bottom: 1rem;
        padding: 0.4rem 0.9rem;
        text-align: left;
        font-size: 1rem;
    }
    .contact-body #contact .boxes div span {
        font-weight: bold;
    }
    .contact-body #contact .boxes div:hover {
        margin-bottom: 1rem;
        padding: 0.4rem 0.9rem;
        background: none;
        color: #fff;
    }
    .contact-body #contact .boxes div:hover span {
        color: #eece1a;
    }
    .contact-body #contact .boxes div:hover #map {
        color: #dd4a40;
    }
    .contact-body #main-footer {
        font-weight: normal;
    }
}

@media screen and (max-width: 480px) {
    .navbar {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 3rem;
        margin: 0;
        overflow: hidden;
        background: rgba(51, 51, 51, 0.8);
    }
    .logo-container {
        top: 0;
        left: 0;
        height: 3rem;
        width: 3rem;
        -webkit-tap-highlight-color: transparent;
        z-index: 4;
        overflow: hidden;
        position: absolute;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
    }
    .logo-container .logo {
        position: absolute;
        top: 6px;
        left: 16.805px;
        font-size: 1.5rem;
        font-weight: normal;
    }
    .menu-btn {
        top: 0;
        right: 0;
        height: 3rem;
        width: 3rem;
        -webkit-tap-highlight-color: transparent;
        z-index: 4;
        overflow: hidden;
        position: absolute;
    }
    .menu-btn .line1 {
        position: absolute;
        top: 17.5px;
    }
    .menu-btn .line2 {
        margin: 0 auto;
        top: 22.5px;
        position: absolute;
    }
    .menu-btn .line3 {
        position: absolute;
        top: 27.5px;
    }
    .menu-btn.close {
        transform: rotate(180deg);
    }
    .menu-btn.close .btn-line:nth-child(1) {
        transform: rotate(45deg) translate(4px, 3px);
    }
    .menu-btn.close .btn-line:nth-child(2) {
        opacity: 0;
    }
    .menu-btn.close .btn-line:nth-child(3) {
        transform: rotate(-50deg) translate(4px, -2.5px);
    }
    .menu-btn .btn-line {
        width: 17px;
        height: 1px;
        left: 15.5px;
        margin: 0;
    }
    main {
        align-items: center;
        text-align: center;
        padding: 1.5rem;
        padding-bottom: 0;
    }
    #main-footer {
        color: #888;
        height: 25px;
        margin-bottom: 0.5rem;
    }
    h1 {
        padding-top: 2.5rem;
    }
    .smlheading {
        line-height: 1.2;
    }
    .item1 {
        margin-top: 14vh;
    }
    body header .menu .menu-branding {
        float: none;
        width: 100%;
        min-height: 0;
        height: 30vh;
        transform: translate3d(100%, 0, 0);
    }
    body header .menu .menu-branding.show {
        transform: translate3d(0, 0, 0);
    }
    body header .menu .menu-branding .portrait {
        height: 250px;
        width: 250px;
        background: url("img/ind.jpg");
        background-position: center;
        transform: translate3d(100%, 0, 0);
    }
    body header .menu .menu-branding .portrait.show {
        transform: translate3d(0, 0, 0);
    }
    body header .menu .menu-nav {
        float: none;
        width: 100%;
        min-height: 0;
        height: 70vh;
        justify-content: flex-start;
        transform: translate3d(-100%, 0, 0);
    }
    body header .menu .menu-nav.show {
        transform: translate3d(0, 0, 0);
    }
    body header .menu .menu-nav .nav-item {
        transform: translate3d(-600px, 0, 0);
    }
    body header .menu .menu-nav .nav-item.show {
        transform: translate3d(0, 0, 0);
    }
    body header .menu .menu-nav .nav-item .nav-link {
        font-weight: bold;
        padding: 0.5rem;
        font-size: 1.5rem;
    }
    body header .menu .menu-nav .nav-item .nav-link:hover {
        color: #fff;
    }
    body header .menu .menu-nav .nav-item.current>a:hover {
        color: #eece1a;
    }
    #home h1 {
        font-size: 2.5rem;
        font-weight: bold;
        line-height: 1;
        padding-bottom: 1rem;
    }
    #home h2 {
        font-size: 1.2rem;
        font-weight: bold;
        line-height: 1.2;
    }
    #home a {
        font-size: 1rem;
        padding: 0.2rem;
    }
    #home a:hover {
        color: #fff;
    }
    .about-body {
        line-height: 1.5;
    }
    .about-body #main-footer {
        font-weight: 400;
    }
    #about h1 {
        font-weight: bold;
        font-size: 2.5rem;
        margin-bottom: 0;
    }
    #about h2 {
        font-weight: bold;
        font-size: 1.5rem;
        padding: 0 1rem;
        line-height: 1.2;
    }
    #about .container1 {
        margin-bottom: 0rem;
    }
    #about .container1 .box1 {
        flex-basis: 100%;
        justify-content: center;
    }
    #about .container1 .box1 .bio-image {
        margin: auto;
        background: url("img/ind.jpg");
        background-position: center;
    }
    #about .container1 .box2 {
        flex-basis: 100%;
        padding: 1rem;
        padding-top: 0;
        padding-bottom: 0;
    }
    #about .container1 .box2 .bio-heading {
        text-align: left;
        font-weight: bold;
        font-size: 1.25rem;
        margin-bottom: 0;
        margin-top: 1rem;
    }
    #about .container1 .box2 .bio-paragraph {
        text-align: left;
        font-weight: 400;
        font-size: 1rem;
        padding: 0;
        margin-bottom: 1rem;
        margin-top: 1rem;
        margin-left: 6rem;
    }
    #about .container2 {
        justify-content: center;
        align-items: center;
    }
    #about .container2 .container2box {
        flex-basis: 100%;
    }
    #about .container2 .job {
        border-bottom: none;
        background: none;
    }
    #about .container2 .job h3 {
        text-align: left;
        font-weight: bold;
        font-size: 1.25rem;
        margin-bottom: 0;
        margin-top: 0;
    }
    #about .container2 .job li {
        font-weight: 400;
        font-size: 1rem;
        text-align: left;
    }
    #about .container2 #list {
        padding: 0;
    }
    .options-body {
        line-height: 1.5;
    }
    .options-body #options h1 {
        font-weight: bold;
        font-size: 2.5rem;
        margin-bottom: 0;
    }
    .options-body #options h2 {
        font-weight: bold;
        font-size: 1.5rem;
        margin-bottom: 1rem;
        line-height: 1.2;
    }
    .options-body #options .projects {
        grid-template-columns: 1fr;
        grid-gap: 1rem;
        padding-bottom: 1rem;
    }
    .options-body #options .projects .item a {
        font-weight: normal;
    }
    .options-body #options .projects .item a img:hover {
        opacity: 1;
        border-color: #fff;
    }
    .options-body #options .projects .item .btn-dark {
        margin-bottom: 0;
    }
    .options-body #options .projects .item .btn-light:hover {
        background: #c4c4c4;
        color: #333;
    }
    .options-body #options .projects .item .btn-dark:hover {
        background: black;
        color: #fff;
    }
    .options-body #main-footer {
        font-weight: normal;
    }
    .contact-body {
        line-height: 1.5;
    }
    .contact-body #contact h1 {
        font-weight: bold;
        font-size: 2.5rem;
        margin-bottom: 0;
    }
    .contact-body #contact h1 span {
        font-weight: bold;
    }
    .contact-body #contact h2 {
        font-size: 1.5rem;
        font-weight: bold;
        line-height: 1.2;
        margin-bottom: 1rem;
    }
    .contact-body #contact .boxes {
        justify-content: center;
        align-items: center;
        margin-top: 0;
    }
    .contact-body #contact .boxes div {
        flex-basis: 100%;
        font-weight: normal;
        margin-bottom: 1rem;
        padding: 0.4rem 0.9rem;
        text-align: left;
        font-size: 1rem;
    }
    .contact-body #contact .boxes div span {
        font-weight: bold;
    }
    .contact-body #contact .boxes div:hover {
        margin-bottom: 1rem;
        padding: 0.4rem 0.9rem;
        background: none;
        color: #fff;
    }
    .contact-body #contact .boxes div:hover span {
        color: #eece1a;
    }
    .contact-body #contact .boxes div:hover #map {
        color: #dd4a40;
    }
    .contact-body #main-footer {
        font-weight: normal;
    }
}